<div class="contenedor">
<form action="/usuarios/login" method="post">
    <div class="formtit">Identificación</div>
    <div>
        <div>Email: </div>
        <input type="text" name="email">
    </div>
    <div>
        <div>Contraseña: </div>
        <input type="password" name="password">
    </div>
    <div>
        <button type="button" id="btnSubmit" class="btn btn-success">Acceder&nbsp; <i class="fa fa-sign-in"></i></button>
    </div>
</form>
</div>
