<form>
{{#if isCreated}}
    <div class="text-success">
        Viaje creado correctamente
    </div>
{{else}}
    <div class="text-danger">
        * Error al crear el viaje
    </div>
{{/if}}
<div>¿Deseas crear otro viaje?</div>
<div class="buttonsYN">
    <a class="btn btn-success" href="/usuarios/crear-viaje">&nbsp;Sí&nbsp;</a>
    <a class="btn btn-success" href="/">&nbsp;No&nbsp;</a>
</div>
</form>
