{{> header}}
<div class="contenedor">
<div class="infoapi">
<div class="formtit">{{title}}</div>
<div class="apicont">
<div>
    <div>/api/viajes</div>
    <div>/api/viajes?destino=[destino]</div>
    <div>/api/viajes?maxPrecio=[precio]</div>
    <div>/api/viajes?limite=[limite]</div>
    <div>/api/viajes?inicio=[inicio]</div>
    <div>Ejemplo: /api/viajes?destino=roma&maxPrecio=500</div>
    <div>Ejemplo: /api/viajes?limite=7&inicio=0</div>
    <div>/api/viajes/<br> [email] [password] <br>
    [destino] [precio] [descuento] [fecha_ini] [fecha_fin] [descripcion]</div>
</div>
<div>
    <div>Todos los viajes</div>
    <div>Todos los viajes a ese destino</div>
    <div>Todos los viajes por debajo de ese precio</div>
    <div>Número determinado de viajes (máximo 10)</div>
    <div>Todos los viajes a partir de uno determinado</div>
    <div>Todos los viajes a Roma por debajo de 500 euros</div>
    <div>Los primeros 7 viajes</div>
    <div>Crear viaje (siendo administrador)<br> &nbsp; <br>
    &nbsp;</div>
</div>
</div>
</div>
</div>
