{{> header}}
<div class="contenedor">
<div class="infoapi">
<div class="formtit">{{title}}</div>
<div class="apicont">
<div>
    <div>/api/viajes</div>
    <div>/api/viajes?destino=[destino]</div>
    <div>/api/viajes?maxPrecio=[precio]</div>
    <div>/api/viajes?destino=[destino]&maxPrecio=[precio]</div>
    <div>/api/viajes/<br> [email] [password] <br>
    [destino] [precio] [descuento] [imagen] [fecha_ini] [fecha_fin] [descripcion]</div>
</div>
<div>
    <div>Todos los viajes</div>
    <div>Todos los viajes a ese destino</div>
    <div>Todos los viajes por debajo de ese precio</div>
    <div>Todos los viajes a ese destino y por debajo de ese precio</div>
    <div>Crear viaje (siendo administrador)<br> &nbsp; <br>
    &nbsp;</div>
</div>
</div>
</div>
</div>
