<div class="contenedor">
{{> user/login_form}}
{{#if error}}
    <div class="text-danger" id="msgError">
    * {{error}}
</div>
{{else if success}}
    <div class="text-success">
        <i class="fa fa-thumbs-o-up"></i>&nbsp; {{info}}
    </div>
{{/if}}
</div>
<script src="/js/login.js"></script>
