{{> header}}
<div class="contenedor center">
	{{#if error2}}
		<div class="text-danger">
			* {{error2}}
		</div>
	{{else}}
		<div class="text-success">
			Introduce tu nueva contrase침a
		</div>
		<form action="/usuarios/recuperar-datos/cambiar-consigna" method="post">
			<div class="formtit">Recuperaci칩n</div>
			<div>
				<div>Contrase침a: </div>
				<input type="password" name="password">
			</div>
			<div>
				<div>Repite contrase침a: </div>
				<input type="password" name="password2">
			</div>
			<div>
				<input type="hidden" name="userId" value={{usuarioId}}>
			</div>
			<div>
				<button type="button" class="btn btn-success" id="btnSubmit">Enviar&nbsp; <i class="fa fa-send-o"></i></button>
			</div>
		</form>
		<div class="text-danger" id="msgError">
		</div>
	{{/if}}
</div>
<script src="/js/recoveryRegister.js"></script>
<script src="/js/validPassword.js"></script>
